1. AIAgent+telegram bot with memory supabase+RAG-system qdrant.json
{
  "name": "My workflow 4",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -64,
        -96
      ],
      "id": "2ff90c72-538c-4cca-bcfe-b3813cd6c10f",
      "name": "Telegram Trigger",
      "webhookId": "YOUR_WEBHOOK_ID",
      "credentials": {
        "telegramApi": {
          "id": "YOUR_CREDENTIAL_ID",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.message.text }}",
        "options": {
          "systemMessage": "You are an expert Sales Consultant for a fishing store.\n\n### DATA SOURCE:\nFormat: \"Product: [Name] | Price: $[Amount] | Link: [URL] | Specs: [...]\"\n\n### CRITICAL RULES:\n\n1. **GOAL: ALWAYS 3 OPTIONS:**\n   - Your absolute priority is to show **3 distinct options**.\n   - **STRATEGY:**\n     1. Search for English keywords (e.g. \"pike spinning rod\"). REMOVE PRICES from search.\n     2. Filter by user's budget.\n     3. **FALLBACK (CRITICAL):** If you find fewer than 3 matching items, YOU MUST relax the filters:\n        - Include items slightly over budget (up to +25%).\n        - Include \"Universal\" rods (e.g. general spinning rods) even if they don't say \"pike\" explicitly.\n        - **It is better to show a slightly expensive option than to show nothing.**\n\n2. **PRESENTATION (3 TIERS):**\n   - Take your final 3 items and sort by Price (High -> Low).\n   - **Option 1 (Premium):** The most expensive of the bunch.\n   - **Option 2 (Best Value):** The middle one.\n   - **Option 3 (Budget):** The cheapest one.\n\n3. **LINK POLICE:**\n   - **COPY** the link from text exactly.\n   - **NEVER** invent links. If link is missing, write \"No link\".\n\n4. **RESPONSE FORMAT (User's Language):**\n   \"[Intro in User Language]:\n\n   1. 💎 **[Translated Header]:** [Name] — [Price]\n   [Brief reason / \"Note: Slightly over budget\" if applicable]\n   [Link from text](URL)\n\n   2. ⚖️ **[Translated Header]:** [Name] — [Price]\n   [Brief reason]\n   [Link from text](URL)\n\n   3. 💰 **[Translated Header]:** [Name] — [Price]\n   [Brief reason]\n   [Link from text](URL)\"\n\n5. **ACCURACY:**\n   - Display the price exactly as written in the text (with $)."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        208,
        -96
      ],
      "id": "a9afcd7b-d286-4aba-9894-4565048f7288",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "builtInTools": {},
        "options": {
          "temperature": 0.2
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        80,
        208
      ],
      "id": "16559acc-be87-4e41-9a3f-a0720d77b744",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "YOUR_CREDENTIAL_ID",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Telegram Trigger').item.json.message.chat.id }} + '_v12'",
        "tableName": "chat_history"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        304,
        224
      ],
      "id": "e4d7bbb8-3ac9-495c-8d03-ee372ad8e44d",
      "name": "Postgres Chat Memory",
      "credentials": {
        "postgres": {
          "id": "YOUR_CREDENTIAL_ID",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "description": "Product Catalog. Use this to find gear, prices, and specs. Input MUST be English keywords (e.g., 'spinning rod'). DO NOT input prices or numbers. Returns real inventory.",
        "topK": 10
      },
      "type": "@n8n/n8n-nodes-langchain.toolVectorStore",
      "typeVersion": 1.1,
      "position": [
        544,
        112
      ],
      "id": "f6a30442-3477-4951-bfcf-e4b8352dc11b",
      "name": "Answer questions with a vector store"
    },
    {
      "parameters": {
        "qdrantCollection": {
          "__rl": true,
          "value": "YOUR_QDRANT_COLLECTION_NAME",
          "mode": "list",
          "cachedResultName": "YOUR_QDRANT_COLLECTION_NAME"
        },
        "options": {
          "contentPayloadKey": "rag_content"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreQdrant",
      "typeVersion": 1.3,
      "position": [
        432,
        240
      ],
      "id": "6592da99-1e24-4aca-8111-e448cb1527c0",
      "name": "Qdrant Vector Store",
      "credentials": {
        "qdrantApi": {
          "id": "YOUR_CREDENTIAL_ID",
          "name": "QdrantApi account"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "responsesApiEnabled": false,
        "options": {
          "temperature": 0.2
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        768,
        272
      ],
      "id": "f8ae1082-66b9-4e63-8446-813cf2162d40",
      "name": "OpenAI Chat Model1",
      "credentials": {
        "openAiApi": {
          "id": "YOUR_CREDENTIAL_ID",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "options": {
          "batchSize": 1536
        }
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        432,
        448
      ],
      "id": "a5a5448c-2c43-4638-9593-44252e3cc706",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "YOUR_CREDENTIAL_ID",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        608,
        -96
      ],
      "id": "b82521a1-909f-4648-97b1-f41ba8259b74",
      "name": "Send a text message",
      "webhookId": "YOUR_WEBHOOK_ID",
      "credentials": {
        "telegramApi": {
          "id": "YOUR_CREDENTIAL_ID",
          "name": "Telegram account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Answer questions with a vector store": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Qdrant Vector Store": {
      "ai_vectorStore": [
        [
          {
            "node": "Answer questions with a vector store",
            "type": "ai_vectorStore",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Answer questions with a vector store",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Qdrant Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "YOUR_VERSION_ID",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "YOUR_INSTANCE_ID"
  },
  "id": "YOUR_WORKFLOW_ID",
  "tags": []
}