3. Lead management (high and low priority).blueprint.json
{
  "name": "lead management (high and low priority)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "YOUR_WEBHOOK_PATH",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -288,
        -96
      ],
      "id": "5cbac06a-6919-4129-8399-c04a17daa1a5",
      "name": "Webhook",
      "webhookId": "YOUR_WEBHOOK_ID",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "GPT-4.1-MINI"
        },
        "messages": {
          "values": [
            {
              "content": "You are an expert polyglot business analyst. Your task is to process a raw customer request and prepare it for the sales department.\n\nYou MUST perform the following four tasks:\n\n1.  **Translate** the entire message accurately into **English**.\n2.  **Create a brief summary** of the English translation, not exceeding 20 words.\n3.  **Classify** the request into one of these specific categories: 'Price enquiry/Commercial offer', 'Technical question/Support', 'Partnership/Cooperation', or 'General question'.\n4.  **Assign a Priority** on a scale from 1 (low, general) to 5 (high, hot lead/ready to purchase).\n\nRespond **ONLY** in JSON format. Do not add any extra text or comments outside the JSON structure.\n\nExpected JSON format:\n{\n  \"translation_en\": \"The full, accurate English translation of the customer's message.\",\n  \"summary_en\": \"A brief summary of the request, maximum 20 words.\",\n  \"category\": \"One of the four specified category names.\",\n  \"priority\": Number from 1 to 5",
              "role": "system"
            },
            {
              "content": "=Customer message: {{ $json.body.data.fields[3].value }}"
            }
          ]
        },
        "jsonOutput": true,
        "options": {
          "maxTokens": 500
        }
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        -64,
        -96
      ],
      "id": "32b82b55-083a-4abf-ae64-faa47486c5b3",
      "name": "Message a model",
      "credentials": {
        "openAiApi": {
          "id": "YOUR_CREDENTIAL_ID",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "YOUR_SPREADSHEET_ID",
          "mode": "list",
          "cachedResultName": "lead base",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/YOUR_SPREADSHEET_ID/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Лист1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/YOUR_SPREADSHEET_ID/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "E-mail": "={{ $('Webhook').item.json.body.data.fields[1].value }}",
            "Phone number": "={{ $('Webhook').item.json.body.data.fields[2].value }}",
            "Original Message": "={{ $('Webhook').item.json.body.data.fields[3].value }}",
            "Name": "={{ $('Webhook').item.json.body.data.fields[0].value }}",
            "Date": "={{ DateTime.fromISO($('Webhook').item.json.body.data.createdAt).toFormat('dd.MM.yyyy HH:mm:ss') }}\n",
            "Full Translated message": "={{ $json.message.content.translation_en }}",
            "Brief message": "={{ $json.message.content.summary_en }}",
            "Category": "={{ $json.message.content.category }}",
            "Lead priority 1-5": "={{ $json.message.content.priority }}",
            "Country": "={{ $('Webhook').item.json.body.data.fields[4].value }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Date",
              "displayName": "Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "E-mail",
              "displayName": "E-mail",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Phone number",
              "displayName": "Phone number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Original Message",
              "displayName": "Original Message",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Full Translated message",
              "displayName": "Full Translated message",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Brief message",
              "displayName": "Brief message",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Category",
              "displayName": "Category",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Lead priority 1-5",
              "displayName": "Lead priority 1-5",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Country",
              "displayName": "Country",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        240,
        -96
      ],
      "id": "02ebe134-ae48-49b8-8b27-2b6cd6ba3cb5",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "YOUR_CREDENTIAL_ID",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "f1156aff-fa0a-4d59-a5d4-44ce0f6e147d",
              "leftValue": "={{ $('Message a model').item.json.message.content.priority }}",
              "rightValue": 4,
              "operator": {
                "type": "number",
                "operation": "gte"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        448,
        -96
      ],
      "id": "84e4e40a-36f1-48ee-9539-e3f126c5a96a",
      "name": "If"
    },
    {
      "parameters": {
        "chatId": "YOUR_TELEGRAM_CHAT_ID",
        "text": "=<b>🔥 НОВЫЙ ЛИД!</b>\n{{ $('Message a model').item.json.message.content.summary_en }}\n\n<b>Category:</b>{{ $('Message a model').item.json.message.content.category }}\n<b>Priority:</b> {{ $('Message a model').item.json.message.content.priority }} из 5 \n\n<b>Contacts:</b>\n\n<b>Name:</b> {{ $('Webhook').item.json.body.data.fields[0].value }}\n<b>Email:</b> {{ $('Webhook').item.json.body.data.fields[1].value }}\n<b>Phone number:</b> {{ $('Webhook').item.json.body.data.fields[2].value }}\n<b>Country:</b> {{ $('Webhook').item.json.body.data.fields[4].value }}\n\nPlease contact the client!\n",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "HTML"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        656,
        -192
      ],
      "id": "9cd6437f-1a82-4664-9ce8-7fefb960f017",
      "name": "Send a text message",
      "webhookId": "YOUR_WEBHOOK_ID",
      "credentials": {
        "telegramApi": {
          "id": "YOUR_CREDENTIAL_ID",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "YOUR_DESTINATION_EMAIL@example.com",
        "subject": "new low priority lead",
        "message": "=<b>New low priority lead!</b><br><br>\n\n{{ $('Message a model').item.json.message.content.summary_en }} <br><br>\n\n<b>Category:</b> {{ $('Message a model').item.json.message.content.category }} <br><br>\n<b>Priority:</b> {{ $('Message a model').item.json.message.content.priority }} из 5  <br><br>\n\n<b>Contacts:</b> <br>\n\n<b>Name:</b> {{ $('Webhook').item.json.body.data.fields[0].value }} <br>\n<b>Email:</b> {{ $('Webhook').item.json.body.data.fields[1].value }} <br>\n<b>Phone number:</b> {{ $('Webhook').item.json.body.data.fields[2].value }} <br>\n<b>Country:</b> {{ $('Webhook').item.json.body.data.fields[4].value }} <br><br>\n\nPlease contact the client!\n",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        656,
        0
      ],
      "id": "39b85ea2-a5b9-4178-8d23-1e307def769c",
      "name": "Send a message",
      "webhookId": "YOUR_WEBHOOK_ID",
      "credentials": {
        "gmailOAuth2": {
          "id": "YOUR_CREDENTIAL_ID",
          "name": "Gmail account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Message a model",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append row in sheet": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "YOUR_VERSION_ID",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "YOUR_INSTANCE_ID"
  },
  "id": "YOUR_WORKFLOW_ID",
  "tags": []
}